{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "shelljs": true
  },
  "rules": {
    "quotes": "double",
    "no-extra-semi": false,
    "semi": "never",
    "eol-last": false,
    "no-shadow": false,
    "strict": false,
    "camelcase": false,
    "comma-spacing": false,
    "no-new": false,
    "new-cap": false
  }
}